In [1]:
def add_numbers(x, y):
    return x + y

add_numbers(1, 2)

3

In [2]:
def add_numbers(x,y,z=None):
    if (z==None):
        return x+y
    else:
        return x+y+z

print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

3
6

In [3]:
def add_numbers(x, y, z=None, flag=False):
    if (flag):
        print('Flag is true!')
    if (z==None):
        return x + y
    else:
        return x + y + z
    
print(add_numbers(1, 2, flag=True))

Flag is true!
3

In [4]:
def add_numbers(x,y):
    return x+y

a = add_numbers
a(1,2)

3

 ## The Python Programming Language: Types and Sequences

In [5]:
type('This is a string')

str

In [6]:
type(None)

NoneType

In [7]:
type(1)

int

In [8]:
type(1.0)

float

In [9]:
type(add_numbers)

function

#### Tuples are an immutable data structure (cannot be altered).

In [10]:
x = (1, 'a', 2, 'b')
type(x)

tuple

In [11]:
x = [1, 'a', 2, 'b']
type(x)

list

In [12]:
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

In [13]:
[1,2] + [3,4]

[1, 2, 3, 4]

In [14]:
[1]*3

[1, 1, 1]

In [15]:
4 in [1, 2, 3]

False

In [16]:
x = 'This is a string'
print(x[0]) #first character
print(x[0:1]) #first character, but we have explicitly set the end character
print(x[0:2]) #first two characters

T
T
Th

In [17]:
x[-1]

'g'

In [18]:
x[-4:-2]

'ri'

In [19]:
firstname = 'Christopher'
lastname = 'Brooks'

print(firstname + ' ' + lastname)
print(firstname*3)
print('Chris' in firstname)

Christopher Brooks
ChristopherChristopherChristopher
True

In [20]:
'Chris' + str(2)

'Chris2'

#### Dictionaries associate keys with values.

In [21]:
x = {'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com'}
x['Christopher Brooks'] # Retrieve a value by using the indexing operator

'brooksch@umich.edu'

In [22]:
x['Kevyn Collins-Thompson'] = None
x['Kevyn Collins-Thompson']

In [23]:
for name in x:
    print(x[name])

brooksch@umich.edu
billg@microsoft.com
None

In [24]:
for email in x.values():
    print(email)

brooksch@umich.edu
billg@microsoft.com
None

In [25]:
for name, email in x.items():
    print(name, email)

Christopher Brooks brooksch@umich.edu
Bill Gates billg@microsoft.com
Kevyn Collins-Thompson None

In [28]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu')
fname, lname, email = x

In [30]:
fname

'Christopher'

In [31]:
lname

'Brooks'

In [34]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu')
fname, lname, email = x

#### Python has a built in method for convenient string formatting.

In [36]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96

In [37]:
import csv

%precision 2

with open('mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))
    
mpg[:3] # The first three dictionaries in our list.

FileNotFoundError: [Errno 2] No such file or directory: 'mpg.csv'

## The Python Programming Language: Dates and Times

In [38]:
import datetime as dt
import time as tm

In [39]:
tm.time()

1593159044.73

In [40]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2020, 6, 26, 14, 10, 54, 334159)

In [41]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second # get year, month, day, etc.from a datetime

(2020, 6, 26, 14, 10, 54)

In [42]:
delta = dt.timedelta(days = 100) # create a timedelta of 100 days
delta

datetime.timedelta(days=100)

In [44]:
today = dt.date.today()

In [45]:
today - delta # the date 100 days ago

datetime.date(2020, 3, 18)

In [46]:
today > today-delta # compare dates

True

In [47]:
class Person:
    department = 'School of Information' #a class variable

    def set_name(self, new_name): #a method
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [48]:
person = Person()
person.set_name('Christopher Brooks')
person.set_location('Ann Arbor, MI, USA')
print('{} live in {} and works in the department {}'.format(person.name, person.location, person.department))

Christopher Brooks live in Ann Arbor, MI, USA and works in the department School of Information

In [49]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)
cheapest

In [50]:
for item in cheapest:
    print(item)

9.0
11.0
12.34
2.01

### The Python Programming Language: Lambda and List Comprehensions

In [53]:
my_function = lambda a, b, c : a + b
my_function(1, 2, 3)

3

In [56]:
my_list = []
for number in range(0, 50):
    if number % 2 == 0:
        my_list.append(number)
print(my_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [57]:
my_list = [number for number in range(0, 50) if number % 2 == 0]
print(my_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

#### The Python Programming Language: Numerical Python (NumPy)

In [59]:
import numpy as np

In [60]:
mylist = [1, 2, 3]
x = np.array(mylist)
x

array([1, 2, 3])

In [61]:
y = np.array([4, 5, 6])
y

array([4, 5, 6])

In [62]:
m = np.array([[7, 8, 9], [10, 11, 12]])
m

array([[ 7,  8,  9],
       [10, 11, 12]])

In [63]:
m.shape

(2, 3)

In [64]:
n = np.arange(0, 30, 2) # start at 0 count up by 2, stop before 30
n

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

In [65]:
n = n.reshape(3, 5) # reshape array to be 3x5
n

array([[ 0,  2,  4,  6,  8],
       [10, 12, 14, 16, 18],
       [20, 22, 24, 26, 28]])

In [66]:
o = np.linspace(0, 4, 9) # return 9 evenly spaced values from 0 to 4
o

array([0. , 0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. ])

In [67]:
o.resize(3, 3)
o

array([[0. , 0.5, 1. ],
       [1.5, 2. , 2.5],
       [3. , 3.5, 4. ]])

In [68]:
np.ones((3, 2))

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

In [69]:
np.zeros((2, 3))

array([[0., 0., 0.],
       [0., 0., 0.]])

In [70]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [71]:
np.diag(y)

array([[4, 0, 0],
       [0, 5, 0],
       [0, 0, 6]])

In [72]:
np.array([1, 2, 3] * 3)

array([1, 2, 3, 1, 2, 3, 1, 2, 3])

In [73]:
np.repeat([1, 2, 3], 3)

array([1, 1, 1, 2, 2, 2, 3, 3, 3])

In [74]:
p = np.ones([2, 3], int)
p

array([[1, 1, 1],
       [1, 1, 1]])

In [75]:
np.vstack([p, 2*p])

array([[1, 1, 1],
       [1, 1, 1],
       [2, 2, 2],
       [2, 2, 2]])

In [76]:
np.hstack([p, 2*p])

array([[1, 1, 1, 2, 2, 2],
       [1, 1, 1, 2, 2, 2]])

In [77]:
print(x + y) # elementwise addition     [1 2 3] + [4 5 6] = [5  7  9]
print(x - y) # elementwise subtraction  [1 2 3] - [4 5 6] = [-3 -3 -3]

[5 7 9]
[-3 -3 -3]

In [78]:
print(x * y) # elementwise multiplication  [1 2 3] * [4 5 6] = [4  10  18]
print(x / y) # elementwise divison         [1 2 3] / [4 5 6] = [0.25  0.4  0.5]

[ 4 10 18]
[0.25 0.4  0.5 ]

In [79]:
print(x**2) # elementwise power  [1 2 3] ^2 =  [1 4 9]

[1 4 9]

# **Dot Product:**
[𝑥1 𝑥2 𝑥3]⋅𝑦1𝑦2𝑦3=𝑥1𝑦1+𝑥2𝑦2+𝑥3𝑦3

In [80]:
x.dot(y) # dot product  1*4 + 2*5 + 3*6

32

In [81]:
z = np.array([y, y**2])
print(len(z)) # number of rows of array

2

In [82]:
z = np.array([y, y**2])
z

array([[ 4,  5,  6],
       [16, 25, 36]])

In [83]:
z.shape

(2, 3)

In [84]:
z.T

array([[ 4, 16],
       [ 5, 25],
       [ 6, 36]])

In [85]:
z.T.shape

(3, 2)

In [86]:
z.dtype

dtype('int64')

In [87]:
z = z.astype('f')
z.dtype

dtype('float32')

In [88]:
a = np.array([-4, -2, 1, 3, 5])

In [89]:
a.sum()

3

In [90]:
a.max()

5

In [91]:
a.min()

-4

In [92]:
a.mean()

0.6

In [93]:
a.std()

3.2619012860600183

In [94]:
a.argmax()

4

In [95]:
a.argmin()

0

In [96]:
s = np.arange(13)**2
s

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100, 121, 144])

In [97]:
s[0], s[4], s[-1]

(0, 16, 144)

In [98]:
s[1:5]

array([ 1,  4,  9, 16])

In [99]:
s[-4:]

array([ 81, 100, 121, 144])

In [100]:
s[-5::-2]

array([64, 36, 16,  4,  0])

In [101]:
r = np.arange(36)
r.resize((6, 6))
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [102]:
r[2, 2]

14

In [103]:
r[3, 3:6]

array([21, 22, 23])

In [104]:
r[:2, :-1]

array([[ 0,  1,  2,  3,  4],
       [ 6,  7,  8,  9, 10]])

In [105]:
r[-1, ::2]

array([30, 32, 34])

In [106]:
r[r > 30]

array([31, 32, 33, 34, 35])

In [107]:
r[r > 30] = 30
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

In [108]:
r2 = r[:3,:3]
r2

array([[ 0,  1,  2],
       [ 6,  7,  8],
       [12, 13, 14]])

In [109]:
r2[:] = 0
r2

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

In [110]:
r

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

In [111]:
r_copy = r.copy()
r_copy

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

In [112]:
r_copy[:] = 10
print(r_copy, '\n')
print(r)

[[10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]]

[[ 0  0  0  3  4  5]
 [ 0  0  0  9 10 11]
 [ 0  0  0 15 16 17]
 [18 19 20 21 22 23]
 [24 25 26 27 28 29]
 [30 30 30 30 30 30]]

In [113]:
test = np.random.randint(0, 10, (4,3))
test

array([[2, 2, 5],
       [2, 7, 6],
       [2, 6, 7],
       [3, 2, 6]])

In [114]:
for row in test:
    print(row)

[2 2 5]
[2 7 6]
[2 6 7]
[3 2 6]

In [115]:
for i in range(len(test)):
    print(test[i])

[2 2 5]
[2 7 6]
[2 6 7]
[3 2 6]

In [116]:
for i, row in enumerate(test):
    print('row', i, 'is', row)

row 0 is [2 2 5]
row 1 is [2 7 6]
row 2 is [2 6 7]
row 3 is [3 2 6]

In [117]:
test2 = test**2
test2

array([[ 4,  4, 25],
       [ 4, 49, 36],
       [ 4, 36, 49],
       [ 9,  4, 36]])

In [118]:
for i, j in zip(test, test2):
    print(i,'+',j,'=',i+j)

[2 2 5] + [ 4  4 25] = [ 6  6 30]
[2 7 6] + [ 4 49 36] = [ 6 56 42]
[2 6 7] + [ 4 36 49] = [ 6 42 56]
[3 2 6] + [ 9  4 36] = [12  6 42]